name: macOS Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests-macos:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0'

      - name: Run iOS simulator unit tests
        run: xcodebuild -scheme TrimTally -destination "platform=iOS Simulator,name=iPhone 17" test
